body {
    text-align:center;
}

#intro {
}

#select_set {
    display:none;
}

#view_set {
    display:none;
}

#navig {
    margin-bottom:20px;
}

#card {
    padding:20px;
    border:1px solid #000;
    width:440px;
    margin:0 auto;
}

#set_title {
    float:left;
    margin:0px;
}

#num_items {
    float:right;
}

#info {
    clear:both;
    height:100px;
    padding-top:60px;
}

#info_key {
    font-size:xx-large;
    font-weight:bold;
}

#info_fun {
    font-size:large;
    font-weight:bold;
}

#info_comment {
    font-size:small;
}

#controls {
    text-align:right;
}

#copyright {
    padding-top:50px;
    font-size:small;
}
