body {text-align:center;}

#intro {
    width:600px;
    margin:0 auto;
    text-align:left;
}

#select_set {display:none;}

#set_list {
    width:250px;
    margin:0 auto;
    margin-bottom:15px;
    text-align:left;
    font-size:large;
}

#set_list p {
    margin:0px;
    padding:0px;
    margin-bottom:5px;
}

#view_set {display:none;}

#card {
    padding:20px;
    border-top:1px solid #d4b25f;
    border-left:1px solid #d4b25f;
    border-bottom:2px solid #9f8137;
    border-right:2px solid #9f8137;
    width:440px;
    margin:0 auto;
    background-color:#f4d68f;
}

#set_title {
    float:left;
    margin:0px;
}

#num_items {float:right;}

#info {
    clear:both;
    height:100px;
    padding-top:60px;
}

#info_key {
    font-size:xx-large;
    font-weight:bold;
}

#info_fun {
    font-size:large;
    font-weight:bold;
}

#info_comment {font-size:small;}

#controls {text-align:right;}

#end_controls {text-align:right;}

#copyright {
    padding-top:50px;
    font-size:small;
}

.navig {margin-bottom:20px;}

